.form-range[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    height: 7px;
    background: rgb(24, 23, 31);
    outline: none;
    padding: 0;
    margin: 0;
  }
  
  /* custom thumb */
  .form-range[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--clr-font-main);
    border: var(--clr-font-main) 3px solid;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
  }
  
  .form-range[type="range"]::-webkit-slider-thumb:hover {
    background: rgb(24, 23, 31);
    border: var(--clr-accent) 3px solid;
  }
  
  
  
  
  
  